@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #D5A2FD;
    display: flex;
    font-family: Poppins;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    border: 0;
}
nav {
    background: black;
    max-width: 100%;
    padding: 20px;
}
.Barrapesquisa {
    position: absolute;
    top: 35px;
    left: 80%;
    transform: translate(-50%, -50%);
    height: 34px;
    padding: 10px;
    border-radius: 10px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: black;
    font-size: 12px;
    line-height: 20px;
}
.search-btn {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu .menu1, .menu2, .menu3, .menu4 {
    box-sizing: border-box;
    background: black;
    padding: 10px;
    border-style: solid;
    border-color: violet;
    justify-content: space-between;
    border-radius: 10px;
}
.container {
    box-shadow: 0 8px 40px 0 purple;
    background-color: black;
    border-radius: 10px;
    width: 450px;
    max-width: 100%;
    margin-top: 60px;
}
.header {
    padding: 30px 40px;
}

.header h2 {
    text-shadow: 3px 3px 5px rgb(255, 0, 255);
    font-weight: 750;
    color: purple;
    font-size: 35px;
    background-color: black;
}
.form {
    padding: 0 45px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    background-color: black;
    border: none;
}

.form-control label {
    font-weight: 200;
    display: inline-block;
    margin-bottom: 5px;
    color: purple;
}

.form-control input {
    border: 2px solid white;
    border-radius: 5px;
    outline: 0;
    display: block;
    font-size: 14px;
    width: 100%;
    padding: 5px;
}

.form-control.success input {
    border: 3px solid #4ECA64;
}

.form-control.error input {
    border: 3px solid #DB5A5A;
}

.form-control.error i.img-error {
    visibility: visible;
}

.form-control.success i.img-success {
    visibility: visible;
}

.form-control.error small{
    color: #DB5A5A;
    visibility: visible;
}

.form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 14px;

}

.form #botao {
    border: none;
    background-color: purple;
    border-radius: 5px;
    color: white;
    padding: 15px;
    font-size: 17px;
    font-weight: 550;
    width: 100%;
    margin-top: 5px;
    cursor: pointer;
}
.form #botao:hover {
    background-color: #D5A2FD;
    transition: 0.3s;
}
#cValidacao {
    text-align: center;
    border-style: none;
    margin-bottom: 10px;
}
.form #msgpassword, #msgpassword2, #msgname, #msglastname, #msgemail{
    font-size: small;
}